@import '@/styles/index.scss';

// 프로필 이미지 관련 부분
.user-profile {
  @include Flex(column, inherit, inherit);
  @include Size('', 671px);
  border-radius: 10px;
  background-color: $color-grayscale-50;
  box-shadow: 0px 4px 20px 0px #00000014;
  overflow: hidden;
  // padding: 60px;

  .image-container {
    @include Size(100%, 200px);
    @include Flex(column, center, center);
    // margin: 60px 0;

    .file-input-wrapper {
      position: relative;

      .file-input {
        @include Flex(column, center, center);
        @include Size(200px, 200px);
        border-radius: 50%;
        display: none;
      }

      .file-upload-icon {
        @include Size(36px, 36px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        cursor: pointer;
      }

      .overlay {
        @include Size(200px, 200px);
        position: absolute;
        left: 60px;
        background-color: $color-grayscale-700;
        opacity: 50%;
        border-radius: 50%;
        z-index: 1;
      }

      .preview-image {
        @include Size(200px, 200px);
        border-radius: 50%;
      }
    }

    .image {
      @include Flex(column, center, center);
      @include Size(200px, 200px);
      border-radius: 50%;
      margin: 0 60px;
      box-sizing: border-box;
    }
  }

  // 수정 모드
  &.editable {
    .image-container {
      margin: 60px 0;
    }

    .user-attribute-container {
      padding: 0 40px;

      .attribute-wrapper {
        @include Flex(column, '', '');
        @include Font(
          $font-size-md,
          $line-height-md,
          $font-weight-md-regular,
          inherit
        );
        gap: 16px;

        .user-attribute {
          @include Flex(row, '', center);
          @include Size(320px, '');
          max-width: 320px;
          white-space: nowrap;
          gap: 20px;
          margin: 0 auto;

          .attribute-name {
            @include Size(60px, '');
          }

          .attribute-value {
            @include Size(240px, 45px);
            background-color: $color-grayscale-100;
            padding: 14px 20px;
            border-radius: 10px;
            outline: none;
          }
        }
      }
    }
  }

  // 비수정 모드
  &.non-editable {
    .image-container {
      margin: 60px 0;
    }

    .non-editable-attribute-container {
      @include Flex(column, '', '');
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        inherit
      );
      gap: 16px;
      position: absolute;
      top: 320px;
      left: 30px;

      .always-show-user-attribute {
        @include Flex(column, '', '');
        gap: 16px;

        .user-attribute {
          @include Flex(row, '', '');
          white-space: nowrap;
          gap: 20px;

          .attribute-name {
            @include Size(60px, '');
            color: $color-grayscale-400;
            flex-shrink: 0;
          }
          .attribute-value {
            color: $color-grayscale-500;
            flex: 1;
            text-align: left;
            min-width: 0;
          }
        }
      }

      .desktop-user-attribute {
        @include Flex(column, '', '');
        gap: 16px;

        .user-attribute {
          display: flex;
          flex-direction: row;
          white-space: nowrap;
          gap: 20px;

          .attribute-name {
            @include Size(60px, '');
            color: $color-grayscale-400;
            flex-shrink: 0;
          }
          .attribute-value {
            color: $color-grayscale-500;
            flex: 1;
            text-align: left;
            min-width: 0;
          }
        }
      }

      .tablet-mobile-expanded {
        display: none;
      }
    }
  }

  .expand-btn {
    display: none;
  }
}

.profile-save-btn {
  @include Flex(row, '', '');
  position: absolute;
  top: 900px;
  right: 80px;
  gap: 10px;

  .cancel-btn {
    background-color: $color-grayscale-50;
  }

  .cancel-btn,
  .save-btn {
    @include Size(65px, '');
  }
}

@media (max-width: $tablet-max-width) {
  .user-profile {
    .image-container {
      @include Size('', 80px);
      @include Flex(column, inherit, center);
      grid-column: 1;
      margin: 0 auto;
      padding: 0;
      // padding: 20px 0 32px 0;

      .file-input-wrapper {
        .file-input {
          @include Size(200px, 200px);
        }

        .file-upload-icon {
          @include Size(20px, 20px);
        }

        .overlay {
          @include Size(71px, 71px);
          left: 0;
        }
      }
      .image {
        @include Size(71px, 71px);
        margin: 0;
        box-sizing: border-box;
      }
    }

    .user-attribute-container {
      @include Size(auto, '');
      position: static;
      grid-column: 3;
      gap: 4px;
    }

    // 수정모드
    &.editable {
      .image-container {
        margin: 20px 0 32px 0;

        .file-input-wrapper {
          @include Size(71px, 71px);

          .overlay,
          .image,
          .preview-image {
            @include Size(71px, 71px);
          }
        }
      }
      .user-attribute-container {
        @include Size(592px, '');
        margin: 0 auto;
        padding: 0;

        .attribute-wrapper {
          @include Size(592px, 228px);
          flex-flow: column wrap;
          margin-bottom: 37px;
          display: flex;
          align-content: space-between;

          .user-attribute {
            width: 276px;
            gap: 16px;
            margin: 0;

            .attribute-name {
            }

            .attribute-value {
              background-color: $color-grayscale-100;
              width: 200px;
            }
          }
        }
      }
    }

    // 비수정 모드일 때
    &.non-editable {
      display: grid;
      grid-template-columns: 71px 40px auto 40px 71px;
      grid-template-rows: auto 1px 24px;
      gap: 0;

      .image-container {
        margin: 0;
      }

      .non-editable-attribute-container {
        position: relative;
        top: 0;
        left: 0;
        gap: 4px;

        .always-show-user-attribute {
          gap: 4px;
          .user-attribute {
            gap: 10px;
          }
        }

        .desktop-user-attribute {
          display: none;
        }

        .tablet-mobile-expanded {
          @include Flex(column, '', '');
          gap: 4px;

          .user-attribute {
            @include Flex(row, '', '');
            white-space: nowrap;
            gap: 10px;

            .attribute-name {
              @include Size(60px, '');
              color: $color-grayscale-400;
              flex-shrink: 0;
            }

            .attribute-value {
              flex: 1;
              text-align: left;
              min-width: 0;
              color: $color-grayscale-500;
            }
          }
        }
      }
    }

    .expand-btn {
      display: block;
      @include Flex(column, center, center);
      grid-column: 3;
      grid-row: 3;
      background-color: $color-grayscale-50;
    }
  }

  .profile-save-btn {
    top: 47px;
    right: 57px;
  }
}

@media (max-width: $mobile-max-width) {
  .user-profile {
    .image-container {
      @include Size(62px, '');
      // padding: 24px 0;

      .file-input-wrapper {
        .file-input {
          @include Size(200px, 200px);
        }

        .file-upload-icon {
          @include Size(17px, 17px);
        }

        .overlay {
          @include Size(62px, 62px);
        }
      }

      .image {
        @include Size(62px, 62px);
      }
    }

    .user-attribute-container {
    }

    // 수정 모드
    &.editable {
      .image-container {
        @include Size(100%, '');
        margin: 24px 0;
      }

      .user-attribute-container {
        @include Size(268px, '');
        .attribute-wrapper {
          @include Size('', 384px);
          padding-bottom: 17px;
          flex-flow: column;

          .user-attribute {
            .attribute-name {
              @include Font($font-size-xs, $line-height-xs-18, '', '');
            }

            .attribute-value {
              @include Size('', 34px);
              @include Font($font-size-xs, $line-height-xs-18, '', '');
              padding: 10px 16px;
            }
          }
        }
      }
    }

    // 비수정 모드
    &.non-editable {
      grid-template-columns: 62px 20px auto 20px 62px;

      .image-container {
      }

      .non-editable-attribute-container {
        @include Font(
          $font-size-xs,
          $line-height-xs-18,
          $font-weight-xs-regular,
          inherit
        );
        gap: 8px;

        .always-show-user-attribute {
          gap: 8px;
        }
        .desktop-user-attribute {
        }
        .tablet-mobile-expanded {
          gap: 8px;
          .user-attribute {
            .attribute-name {
            }
            .attribute-value {
            }
          }
        }
      }
    }
  }

  .profile-save-btn {
    top: 15px;
    right: 17px;
  }
}
