@import '@/styles/index.scss';

.editor-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 46px 30px 30px 30px;
}

.editor-header {
  @include Flex(col, space-between, center);
  margin-bottom: 24px;
}

.heading {
  @include Font(
    $font-size-2xl,
    $line-height-2xl,
    $font-weight-2xl-semibold,
    $color-grayscale-500
  );
}

.date-wrapper {
  margin-bottom: 33px;
  @include Font(
    $font-size-lg,
    $line-height-lg,
    $font-weight-lg-regular,
    $color-grayscale-400
  );

  .date-post {
    margin-right: 12px;
  }
}

.title-wrapper {
  @include Flex(col, space-between, center);
  padding: 12px 0;
  border-bottom: 1px solid $color-grayscale-200;
  border-top: 1px solid $color-grayscale-200;

  .title-count {
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-regular,
      $color-grayscale-500
    );
  }

  .current-count {
    color: $color-grayscale-500;
  }

  .max-count {
    color: $color-primary-green-200;

    &.over-max {
      color: $color-secondary-red-200;
    }
  }
}

.title-input {
  width: 100%;
  font-size: 18px;
  border-radius: 4px;

  &::placeholder {
    @include Font(
      $font-size-xl,
      $line-height-xl,
      $font-weight-xl-regular,
      $color-grayscale-400
    );
  }

  outline: none;
  &:focus {
    border: none;
  }
}

.content-count {
  margin-top: 20px;
  &-text {
    @include Font(
      $font-size-lg,
      $line-height-lg,
      $font-weight-lg-semibold,
      $color-grayscale-600
    );
  }
}

.editor-outer-container {
  border-radius: 4px;
  padding: 10px 0;
}

.editor-container {
  height: 470px;
  overflow-y: auto;
  margin-bottom: 10px;

  :global {
    .public-DraftEditor-content {
      min-height: 200px;
    }

    .public-DraftEditorPlaceholder-root {
      color: #999;
    }

    .DraftEditor-root {
      border: none;
      outline: none;
    }

    .text-align-left {
      text-align: left !important;
    }

    .text-align-center {
      text-align: center !important;
    }

    .text-align-right {
      text-align: right !important;
    }
  }
}

.submit-button {
  @include Font(
    $font-size-md,
    $line-height-md,
    $font-weight-md-semibold,
    $color-grayscale-50
  );
  @include Size(160px, 45px);
  background-color: $color-primary-green-200;
  border: none;
  border-radius: 10px;

  &.disabled {
    background-color: $color-grayscale-300;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .heading {
    @include Font(
      $font-size-xl,
      $line-height-2xl,
      $font-weight-2xl-semibold,
      $color-grayscale-500
    );
  }

  .date-wrapper {
    margin-bottom: 25px;

    .date-post {
      margin-right: 12px;
    }
  }

  .editor-container {
    height: 317px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .editor-wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 0px 15px;
  }

  .heading {
    @include Font(
      $font-size-lg,
      $line-height-lg,
      $font-weight-2xl-semibold,
      $color-grayscale-500
    );
  }

  .date-wrapper {
    margin-bottom: 20px;
    @include Font(
      $font-size-xs,
      $line-height-xs-18,
      $font-weight-xs-regular,
      $color-grayscale-400
    );

    .date-post {
      margin-right: 10px;
    }
  }

  .submit-button {
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-grayscale-50
    );
    @include Size(72px, 40px);
  }

  .title-input {
    &::placeholder {
      @include Font(
        $font-size-lg,
        $line-height-lg,
        $font-weight-lg-medium,
        $color-grayscale-400
      );
    }
  }

  .content-count {
    &-text {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-medium,
        $color-grayscale-600
      );
    }
  }

  .editor-container {
    height: 285px;
  }
}
