@import "@/styles/index.scss";

.container {
  @include Size(400px, auto);
  @include Flex(column, "", "");
  margin: 0 auto;
  row-gap: 64px;
  padding: 140px 0;

  .title {
    @include Font(
      $font-size-2xl,
      $line-height-2xl,
      $font-weight-2xl-semibold,
      $color-grayscale-500
    );
    text-align: center;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .container {
    padding: 210px 0;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .container {
    @include Size(335px, auto);
    padding: 170px 0;
  }
}
