@import '@/styles/index.scss';

.add-board-container {
    @include Flex(column, center, center);
    height: 100vh;

    .editor-container {
        @include Size(100%, auto);;
        max-width: 1060px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        background-color: $color-grayscale-50;
        margin-bottom: 23px;
    }

    @media screen and (max-width: $tablet-max-width) {
        .editor-container {
            @include Size(100%, auto);;
            max-width: 624px;
        }
      }
      
      @media screen and (max-width: $mobile-max-width) {
        .editor-container {
            @include Size(100%, auto);;
            max-width: 335px;
        }
      }
}

.button-back {
    @include Size(140px, 45px);
    display: block;
    margin: 0 auto 60px;
}