@import '@/styles/index.scss';

.login-container {
  @include Size(400px, auto);
  @include Flex(column, center, '');
  margin: 0 auto;
  margin-top: 261px;

  .login-wrapper {
    .title {
      @include Font(
        $font-size-2xl,
        $line-height-2xl,
        $font-weight-2xl-semibold,
        $color-grayscale-500
      );
      text-align: center;
      margin-bottom: 50px;
    }
    
    @include Flex(column, '', '');
    row-gap: 24px;


    .email-input-wrapper {
      @include Flex(column, '', '');
      row-gap: 8px;

      .email-input {
        @include Size(100%, 45px);
        background-color: $color-grayscale-100;
        border-radius: 10px;
        padding: 14px 20px;
      }
    }

    .password-input-wrapper {
      @include Flex(column, '', '');
      row-gap: 8px;

      .password-input {
        @include Size(100%, 45px);
        background-color: $color-grayscale-100;
        border-radius: 10px;
        padding: 14px 20px;
      }
    }
  }
  .login-bts {
    @include Size(100%, 45px);
    margin-top: 32px;
  }

  .signup {
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-regular,
      $color-grayscale-500
    );
    text-decoration: none;
    align-self: center;
    color: $color-primary-green-200;
    margin-top: 40px;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .login-container {
    margin-top: 281px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .login-container {
    @include Size(335px, '');
    margin-top: 144px;
  }



}
