@import '@/styles/import.scss';

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 64px;
  width: 100%;
  max-width: 860px;
}

.grid-item {
  @include Flex(column, center, flex-start);
  text-align: left;
  gap: 8px;

  .wiki-article-title {
    @include Font(
      $font-size-2xl,
      $line-height-2xl,
      $font-weight-2xl-semibold,
      $color-grayscale-500
    );
  }

  .separator {
    border: 1px solid $color-grayscale-200;
    width: 100%;
  }

  .wiki-article-content {
    @include Font(
      $font-size-lg,
      $line-height-lg,
      $font-weight-lg-regular,
      $color-grayscale-500
    );
  }
}
