@import '@/styles/import.scss';

.user-profile {
  @include Flex(column, inherit, inherit);
  @include Size('', 671px);
  border-radius: 10px;
  background-color: $color-grayscale-50;
  box-shadow: 0px 4px 20px 0px #00000014;
  overflow: hidden;

  .image-container {
    @include Size(100%, '');
    @include Flex(column, center, center);

    .image {
      @include Flex(column, center, center);
      @include Size(200px, 200px);
      border-radius: 50%;
      margin: 60px;
      box-sizing: border-box;
    }
  }

  .user-attribute-container {
    @include Flex(column, inherit, inherit);
    position: absolute;
    top: 320px;
    left: 30px;
    gap: 16px;

    .always-show-user-attribute,
    .desktop-user-attribute,
    .selective-show-user-attribute {
      @include Flex(column, center, stretch);
      gap: 16px;

      .user-attribute {
        @include Font(
          $font-size-md,
          $line-height-md,
          $font-weight-md-regular,
          inherit
        );
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        gap: 20px;

        .attribute-name {
          @include Size(60px, '');
          color: $color-grayscale-400;
          flex-shrink: 0;
        }

        .attribute-value {
          color: $color-grayscale-500;
          flex: 1;
          text-align: left;
          min-width: 0;
        }
      }
    }

    .selective-show-user-attribute {
      display: none;
    }
  }

  .expand-btn {
    display: none;
  }
}

@media screen and (max-width: 1199px) {
  .user-profile {
    display: grid;
    grid-template-columns: 71px 40px auto 40px 71px;
    grid-template-rows: auto 1px 24px;
    gap: 0;

    .image-container {
      @include Flex(column, inherit, center);
      @include Size(71px, '');
      grid-column: 1;

      .image {
        @include Size(71px, 71px);
        margin: 0;
        box-sizing: border-box;
      }
    }

    .user-attribute-container {
      @include Size(auto, '');
      position: static;
      grid-column: 3;
      gap: 4px;

      .desktop-user-attribute {
        display: none;
      }

      .always-show-user-attribute,
      .selective-show-user-attribute {
        @include Flex(column, center, stretch);
        gap: 4px;
      }
      .user-attribute {
        gap: 10px;
      }
    }

    .expand-btn {
      @include Flex(column, center, center);
      grid-column: 3;
      grid-row: 3;
      background-color: $color-grayscale-50;
    }
  }
}

@media screen and (max-width: 767px) {
  .user-profile {
    grid-template-columns: 62px 20px auto 20px 62px;

    .image-container {
      @include Size(62px, '');

      .image {
        @include Size(62px, 62px);
      }
    }
    .user-attribute-container {
      .user-attribute {
        @include Font(
          $font-size-xs,
          $line-height-xs-18,
          $font-weight-xs-regular,
          inherit
        );
      }
    }
  }
}
