@import '@/styles/index.scss';

.button {
  border-radius: 10px;

  &.small {
    height: 40px;
  }

  &.large {
    height: 45px;
  }

  &.x-large {
    height: 60px;
  }

  &.defaultPadding {
    padding: 8px 20px;
  }

  &.fullWidth {
    width: 100%;
  }

  &.alignEnd {
    align-self: flex-end;
  }

  &.primary {
    background-color: $color-primary-green-200;
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-grayscale-50
    );
  }

  &.alert {
    background-color: $color-secondary-red-200;
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-grayscale-50
    );
  }

  &.outline {
    border: 1px solid $color-primary-green-200;
    background-color: $color-grayscale-50;
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-primary-green-200
    );
  }

  &.disabled {
    background-color: $color-grayscale-300;
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-grayscale-50
    );
    cursor: not-allowed;
  }

  &.main-top {
    background-color: $color-grayscale-500;
    @include Font(
      $font-size-2xl,
      $line-height-2lg,
      $font-weight-2xl-bold,
      $color-grayscale-50
    );
  }

  &.main-bottom {
    background-color: $color-grayscale-50;
    @include Font(
      $font-size-2xl,
      $line-height-2lg,
      $font-weight-2xl-bold,
      $color-grayscale-500
    );
  }
}

.icon {
  margin-left: 10px;
  width: 20px;
  height: 4px;
}
