@import "@/styles/index.scss";

.linkContainer {
  @include Flex(row, "", center);
  padding: 5px 10px;
  border-radius: 10px;
  background-color: $color-primary-green-100;
}

.linkText {
  margin-left: 8px;
  @include Font($font-size-md, "", "", $color-primary-green-200);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
