@import '@/styles/index.scss';

.overlay {
  @include Flex(column, center, center);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: $color-modal-background;

  .container {
    @include Flex(column, null, null);
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px $color-shadow;
    padding: 20px;
    position: relative;
    background: $color-grayscale-50;

    .close-button {
      @include Size(20px, 20px);
      align-self: flex-end;
      background-color: $color-grayscale-50;
      padding: 0;

      .close-image {
        @include Size(20px, 20px);
        margin-bottom: 10px;
      }
    }

    &.large {
      @include Size(395px, auto);
    }

    &.small {
      @include Size(335px, auto);
    }
  }
}
