@import '@/styles/index.scss';

.header-container {
  background-color: $color-grayscale-100;
  display: grid;
  grid-template-columns: 82px minmax(0, 178px) minmax(537px, auto);
  overflow: hidden;
  border-radius: 10px;

  .user-name-wrapper {
    @include Font(
      $font-size-xl,
      $line-height-xl,
      $font-weight-xl-semibold,
      $color-grayscale-500
    );
    .user-name {
      position: relative;
      top: 18px;
      left: 30px;
    }
    .participate-btn,
    editing-btn {
      @include Size(160px, '');
    }
  }
}

.wiki-actions {
  @include Flex(column, flex-start, flex-start);
  gap: 32px;

  .name-and-btn {
    @include Flex(row, space-between, inherit);
    @include Size(100%, '');

    .user-name {
      @include Font(
        $font-size-5xl,
        $line-height-5xl,
        $font-weight-5xl-semibold,
        $color-grayscale-500
      );
      white-space: nowrap;
    }

    .participate-btn,
    .editing-btn {
      @include Size(160px, '');
      white-space: nowrap;
    }
  }

  .link {
    @include Size('', 34px);
    max-width: 860px;
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    background-color: $color-primary-green-100;

    .link-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;
      overflow: hidden;

      .link-copy-btn {
        overflow: hidden;
        text-decoration: none;
        text-overflow: ellipsis;
        place-self: flex-start;
        background-color: transparent;

        .link-address {
          @include Font(
            $font-size-md,
            $line-height-md,
            $font-weight-md-regular,
            $color-primary-green-200
          );
          display: inline;
        }
      }
    }
  }
}

.snackbar-container-large {
  position: fixed;
  top: 120px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}

.snackbar-container-small {
  display: none;
}

@media (max-width: $tablet-max-width) {
  .header-container {
    display: flex;
    padding-left: 20px;

    .user-name-wrapper {
      .user-name {
        display: none;
      }
    }
  }

  .snackbar-container-large {
    top: 100px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .wiki-actions {
    gap: 24px;
    .name-and-btn {
      .user-name {
        @include Font(
          $font-size-3xl,
          $line-height-3xl-42,
          $font-weight-5xl-semibold,
          $color-grayscale-500
        );
      }

      .participate-btn,
      .editing-btn {
        @include Size(120px, 43px);
      }
    }
  }

  .snackbar-container-large {
    display: none;
  }

  .snackbar-container-small {
    display: block;
    position: fixed;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}
