@import "@/styles/index.scss";

.header-container {
  @include Size("", 60px);
  @include Flex(row, "", "");
  position: relative;
  background-color: $color-grayscale-100;
  border-radius: 10px;
  margin-bottom: 60px;
  overflow: hidden; /* 임시 추가 */

  .user-name {
    @include Font(
      $font-size-xl,
      $line-height-xl,
      $font-weight-xl-semibold,
      $color-grayscale-500
    );
    padding-top: 18px;
    text-align: right;
  }

  .editor-container {
    @include Flex(column, center, center);

    .editor-wrapper {
      @include Flex(row, "", center);
      @include Size(527px, 28px);
      padding: 2px 0;
      gap: 20px;
      margin-right: 333px;

      .editor-btn {
        @include Size(24px, 24px);
        padding: 0;
      }

      .dividing-line {
        @include Size("", 20px);
        border: 1px solid $color-grayscale-200;
      }

      .subject {
        @include Font(
          $font-size-lg,
          19.09px,
          $font-weight-2xl-medium,
          $color-grayscale-400
        );
        white-space: nowrap;
      }
    }
  }
}

.wiki-actions {
  @include Flex(column, flex-start, flex-start);
  gap: 32px;

  .name-and-btn {
    @include Flex(row, space-between, inherit);
    @include Size(100%, "");

    .username {
      @include Font(
        $font-size-5xl,
        $line-height-5xl,
        $font-weight-5xl-semibold,
        $color-grayscale-500
      );
      white-space: nowrap;
    }

    .participate-btn {
      @include Flex(column, normal, center);
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-semibold,
        $color-grayscale-50
      );

      @include Size(160px, "");
      border-radius: 10px;
      padding: 10.5px 42px;
      white-space: nowrap;
      background-color: $color-primary-green-200;
      gap: 10px;
    }
  }

  .link {
    @include Size("", 34px);
    max-width: 860px;
    display: flex;
    border-radius: 10px;
    padding: 5px 10px;
    gap: 10px;
    background-color: $color-primary-green-100;

    .link-wrapper {
      display: flex;
      align-items: center;
      gap: 5px;

      .link-copy-btn {
        overflow: hidden;
        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        .link-address {
          @include Font(
            $font-size-md,
            $line-height-md,
            $font-weight-md-regular,
            $color-primary-green-200
          );
          display: inline;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .wiki-actions {
    gap: 24px;
    .name-and-btn {
      .participate-btn {
        @include Size(120px, "");
        padding: 9.5px 22px;
      }
    }
  }
}
