@import '@/styles/index.scss';

.container {
  @include Flex(row, center, center);
  column-gap: 12px;

  .alarm {
    background-color: $color-grayscale-50;
  }

  .profile {
    background-color: $color-grayscale-50;
    border-radius: 50%;
  }

  .menu {
    background-color: $color-grayscale-50;
    display: none;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .container {
    .alarm {
      display: none;
    }

    .profile {
      display: none;
    }

    .menu {
      display: block;
    }
  }
}
