@import '@/styles/index.scss';

.container {
  @include Flex(row, center, center);
  column-gap: 18px;

  .alarm {
    background-color: $color-grayscale-50;
  }

  .profile-default {
    background-color: $color-grayscale-50;
  }

  .profile-user {
    @include Size(32px, 32px);
    background-color: $color-grayscale-50;
    border-radius: 50%;
    overflow: hidden;
    position: relative;

    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }

  .menu {
    background-color: $color-grayscale-50;
    display: none;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .container {
    .alarm {
      display: none;
    }

    .profile-default,
    .profile-user {
      display: none;
    }

    .menu {
      display: block;
    }
  }
}
