@import "@/styles/index.scss";

.container {
  @include Flex(column, "", "");
  row-gap: 10px;
  padding-bottom: 32px;
  border-bottom: 1px solid $color-grayscale-200;

  .label {
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-regular,
      $color-grayscale-500
    );
  }

  .password-input-wrapper {
    @include Flex(column, "", "");
    row-gap: 8px;

    .password-input {
      @include Size(100%, 45px);
      background-color: $color-grayscale-100;
      border-radius: 10px;
      padding: 14px 20px;
    }

    .password-input::placeholder {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        $color-grayscale-400
      );
    }
  }

  .button {
    @include Size(89px, 40px);
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-semibold,
      $color-grayscale-100
    );
    background-color: $color-primary-green-200;
    border-radius: 10px;
    align-self: flex-end;
  }
}
