@import '@/styles/index.scss';

.grid-container {
  // @include Size(100%, '');
  // display: grid;
  // grid-template-rows: repeat(4, auto);
  // row-gap: 64px;

  .grid-item {
    // @include Flex(column, center, flex-start);
    // text-align: left;
    // gap: 8px;

    .wiki-article-title {
      @include Font(
        $font-size-2xl,
        $line-height-2xl,
        $font-weight-2xl-semibold,
        $color-grayscale-500
      );
    }

    .separator {
      @include Size(100%, '');
      border: 1px solid $color-grayscale-200;
    }

    .wiki-article-content {
      @include Font(
        $font-size-lg,
        $line-height-lg,
        $font-weight-lg-regular,
        $color-grayscale-500
      );
    }
  }

  .blockquote-item {
    gap: 12px;
  }

  .empty-wiki-container {
    @include Flex(column, center, center);
    padding: 40px;
    background-color: $color-grayscale-100;
    border-radius: 10px;

    .span-btn-wrapper {
      @include Flex(column, center, center);
      gap: 20px;

      .notice {
        @include Font(
          $font-size-lg,
          $line-height-lg,
          $font-weight-lg-regular,
          $color-grayscale-400
        );
        text-align: center;
      }
      .start-btn {
        white-space: nowrap;
      }
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  .grid-container {
    .grid-item {
      // gap: 9px;
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  .grid-container {
    // row-gap: 32px;

    .grid-item {
      // gap: 8px;
    }

    .blockquote-item {
      gap: 8px;
    }

    .empty-wiki-container {
      padding: 40px 93px;
      .span-btn-wrapper {
        gap: 16px;
        .notice {
          @include Font(
            $font-size-md,
            $line-height-md,
            $font-weight-md-regular,
            $color-grayscale-400
          );
        }
      }
    }
  }
}
