@import '@/styles/index.scss';

.container {
  @include Flex(column, '', '');
  row-gap: 10px;
  padding-top: 32px;

  .label {
    @include Font(
      $font-size-md,
      $line-height-md,
      $font-weight-md-regular,
      $color-grayscale-500
    );
  }

  .wiki-input-wrapper {
    @include Flex(column, '', '');
    row-gap: 8px;

    .wiki-input {
      @include Size(100%, 45px);
      background-color: $color-grayscale-100;
      border-radius: 10px;
      padding: 14px 20px;
    }

    .wiki-input::placeholder {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        $color-grayscale-400
      );
    }
  }
}
