@import '@/styles/index.scss';

.close-image {
  align-self: flex-end;
}

.contents-wrapper {
  @include Flex(column, null, null);
  padding-left: 10px;
  margin: 20px 0 32px 0;

  &.large {
    row-gap: 10px;
  }

  &.middle {
    row-gap: 8px;
  }

  .title {
    @include Font(
      $font-size-2lg,
      $line-height-2lg,
      $font-weight-2lg-semibold,
      $color-grayscale-500
    );

    &.middle {
      @include Font(
        $font-size-lg,
        $line-height-lg,
        $font-weight-lg-semibold,
        $color-grayscale-500
      );
    }
  }

  .description {
    @include Font(
      $font-size-lg,
      $line-height-lg,
      $font-weight-lg-regular,
      $color-grayscale-400
    );

    &.middle {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-regular,
        $color-grayscale-400
      );
    }
  }
}
