@import '@/styles/index.scss';

// 내 위키 페이지 - 수정 진행중
.editable-container {
  @include Size(100%, 100vh);
  // @include Flex(column, inherit, center);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;

  .editable-wiki-main {
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(0, 1120px) 120px 400px 80px !important;
    grid-template-areas:
      'space1 header space2 aside space3'
      'space1 article space2 article space3';
    grid-template-rows: 60px auto;

    .editable-wiki-padding {
      @include Size(100%, '');
      max-width: 200px;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

    .editable-wiki-header {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 1;
      box-sizing: border-box;
    }

    .editable-wiki-article {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
      // margin: 52px 0 80px 0;
      margin-top: 60px;
      // margin-bottom: 80px;
    }

    .editable-wiki-aside {
      @include Size(100%, 828px);
      grid-column: 4;
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

// 위키페이지
.container {
  @include Size(100%, 100vh);
  @include Flex(column, inherit, center);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 38px;

  &.container-no-sections {
    padding-top: 40px;
  }

  .wiki-main {
    @include Size(100%, '');
    max-width: 1920px;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(0, 860px) 80px 320px 200px;
    position: relative;

    .wiki-padding {
      @include Size(100%, '');
      max-width: 460px;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

    .wiki-header {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 1;
      margin-top: 40px;
      margin-bottom: 56px;
      box-sizing: border-box;
    }

    .wiki-article {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
      margin-bottom: 80px;
    }

    .wiki-aside {
      @include Size(100%, '');
      grid-column: 4;
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

@media screen and (max-width: $tablet-max-width) {
  // 내 위키 페이지 - 수정 진행중
  .editable-container {
    padding: 47px 60px 0 47px;

    .editable-wiki-main {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-template-rows: 60px 388px 10px 60px 40px 1fr;
      grid-template-areas:
        'space1'
        'aside'
        'space2'
        'header'
        'space3'
        'article';

      .editable-wiki-padding {
        @include Size('', 60x);
        grid-area: space1;
        grid-row: 1;
      }

      .editable-wiki-aside {
        @include Size('', 388px);
        grid-area: aside;
        grid-row: 2;
      }

      .editable-space1 {
        @include Size('', 10px);
        grid-area: space2;
        grid-row: 3;
      }

      .editable-wiki-header {
        @include Size('', 60px);
        grid-area: header;
        grid-row: 4;
      }

      .editable-space2 {
        @include Size('', 40px);
        grid-area: space3;
        grid-row: 5;
      }

      .editable-wiki-article {
        grid-area: article;
        grid-row: 6;
        margin-top: 0;
      }
    }
  }

  // 내 위키 페이지
  .container {
    padding: 0 60px;
    padding-top: 60px;

    &.container-no-sections {
      padding-top: 60px;
    }

    .wiki-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        'header'
        'space1'
        'aside'
        'space2'
        'article';

      .wiki-padding {
        display: none;
      }

      .wiki-header {
        grid-area: header;
        margin: 0 auto;
      }

      .space1 {
        @include Size('', 15px);
        grid-area: space1;
      }

      .wiki-aside {
        @include Size(100%, auto);
        grid-area: aside;
        padding: 20px 30px 5px 30px;
        margin: 0;
      }

      .space2 {
        @include Size('', 60px);
        grid-area: space2;
      }

      .wiki-article {
        grid-area: article;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  // 내 위키 페이지 - 수정 진행중
  .editable-container {
    padding: 15px 20px 0 20px;

    .editable-wiki-main {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-template-rows: 55px 511px 15px 60px 15px 1fr;

      .editable-wiki-aside {
        @include Size('', 511px);
      }
    }
  }

  // 내 위키페이지
  .container {
    padding: 0 20px;
    margin-top: 40px;

    &.container-no-sections {
      margin-top: 40px;
      padding-top: 0;
    }

    .wiki-main {
      .space1 {
        @include Size('', 12px);
      }

      .space2 {
        @include Size('', 40px);
      }

      .wiki-aside {
        @include Size(100%, '');
        margin: 0;
        padding: 15px 20px 0 20px;
      }
    }
  }
}
