@import '@/styles/index.scss';

// 비수정 모드
.non-editable {
  @include Size(100%, '');
  @include Flex(column, inherit, center);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;

  .wiki-main {
    @include Size(100%, '');
    max-width: 1920px;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(0, 860px) 80px 320px minmax(
        60px,
        0.43479fr
      );
    grid-template-rows: 190px auto;
    position: relative;
    padding: 38px 0 78px 0;

    .wiki-padding {
      @include Size(100%, '');
      max-width: 460px;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

    .wiki-header {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 1;
      margin: 40px 0 56px 0;
      box-sizing: border-box;
    }

    .wiki-article {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
      margin-bottom: 80px;
    }

    .wiki-aside {
      @include Size(100%, '');
      grid-column: 4;
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

// 수정 모드
.editable {
  @include Size(100%, 100vh);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;

  .quiz-modal-close {
    display: none;
  }

  .wiki-main {
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(0, 1120px) 120px 400px minmax(
        60px,
        0.4fr
      ) !important;
    grid-template-areas:
      'space1 header space2 aside space3'
      'space1 article space2 article space3';
    grid-template-rows: 60px auto;

    .wiki-padding {
      @include Size(100%, '');
      max-width: 200px;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

    .wiki-header {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 1;
      box-sizing: border-box;
    }

    .wiki-article {
      @include Size(100%, '');
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
      // margin-top: 60px;
      grid-row: 1 / span 2;
    }

    .wiki-aside {
      @include Size(100%, 828px);
      grid-column: 4;
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

// 비수정 모드 + 컨텐츠 없음
.non-editable-no-data {
  padding-top: 40px;

  .wiki-main {
    grid-template-columns: minmax(60px, 1fr) minmax(0, 859px) 81px 320px minmax(
        60px,
        0.43479fr
      );

    .space1 {
      height: 16px;
    }
  }
}

// 모달
.quiz-modal-container {
  @include Size(100%, 100vh);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  .modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// 모달이 열려 있을 때
.quiz-modal-open {
  // background: #474d664d;
  z-index: 10;
}

@media screen and (max-width: $tablet-max-width) {
  // 비수정 모드
  .non-editable {
    padding: 60px;

    .wiki-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        'header'
        'space1'
        'aside'
        'space2'
        'article';
      padding: 0;

      .wiki-padding {
        display: none;
      }

      .wiki-header {
        grid-area: header;
        margin: 0 auto;
        gap: 20px;
      }

      .space1 {
        @include Size('', 15px);
        grid-area: space1;
      }

      .wiki-aside {
        @include Size(100%, auto);
        grid-area: aside;
        padding: 20px 30px 5px 30px;
        margin: 0;
      }

      .space2 {
        @include Size('', 60px);
        grid-area: space2;
      }

      .wiki-article {
        grid-area: article;
        margin: 0 auto;
      }
    }
  }

  // 수정 모드
  .editable {
    padding: 47px 60px 0 60px;

    .wiki-main {
      display: grid;
      grid-template-columns: 1fr !important;
      grid-template-rows: 60px 388px 10px 60px 40px 1fr;
      grid-template-areas:
        'space1'
        'aside'
        'space2'
        'header'
        'space3'
        'article';

      .wiki-padding {
        @include Size('', 60x);
        grid-area: space1;
        grid-row: 1;
      }

      .wiki-aside {
        @include Size('', 388px);
        grid-area: aside;
        grid-row: 2;
      }

      .space1 {
        @include Size('', 10px);
        grid-area: space2;
        grid-row: 3;
      }

      .wiki-header {
        @include Size('', 60px);
        grid-area: header;
        grid-row: 4;
      }

      .space2 {
        @include Size('', 40px);
        grid-area: space3;
        grid-row: 5;
      }

      .wiki-article {
        grid-area: article;
        grid-row: 6;
        margin-top: 0;
        grid-row: 4 / span3;
      }
    }
  }

  // 비수정 모드 + 컨텐츠 없음
  .non-editable-no-data {
    .wiki-main {
      grid-template-rows: 111px 16px auto 60px 192px;

      .space1 {
        height: 16px;
      }
    }
  }
}

@media screen and (max-width: $mobile-max-width) {
  // 비수정 모드
  .non-editable {
    padding: 40px 20px;

    .wiki-main {
      .space1 {
        @include Size('', 12px);
      }

      .space2 {
        @include Size('', 40px);
      }

      .wiki-aside {
        @include Size(100%, '');
        margin: 0;
        padding: 15px 20px 0 20px;
      }
    }
  }

  // 수정 모드
  .editable {
    padding: 15px 20px 0 20px;

    .wiki-main {
      display: grid;
      grid-template-columns: 100% !important;
      grid-template-rows: 55px 511px 15px 60px 15px 1fr;

      .wiki-aside {
        @include Size('', 511px);
      }
    }
  }

  // 비수정 모드 + 컨텐츠 없음
  .non-editable-no-data {
    .wiki-main {
      grid-template-rows: 97px 16px auto 40px 184px;

      .space1 {
        height: 16px;
      }
    }
  }
}
