@import '@/styles/index.scss';

.toolbar {
  @include Flex(row, space-between, center);
  border: 1px solid $color-grayscale-200;
  background-color: $color-grayscale-100;
  border-radius: 10px;
  padding: 16px 0;

  .user-name {
    @include Font(
      $font-size-xl,
      $line-height-xl,
      $font-weight-xl-medium,
      $color-grayscale-500
    );
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 20px;
  }

  .left-buttons {
    display: flex;
    align-items: center;

    .button-wrapper {
      display: flex;
      column-gap: 10px;
      padding: 0 10px;
      border-right: 1px solid $color-grayscale-300;

      &:last-child {
        border-right: none;
      }

      .heading {
        @include Size(80px, auto);
      }

      .align-button {
        @include Flex(row, center, center);
        @include Size(24px, 24px);
        background: none;
        border: none;
        border-radius: 5px;
        padding: 0;

        &:hover {
          background-color: $color-grayscale-200;
        }

        &.active {
          background-color: $color-grayscale-200;
        }
      }
    }
  }

  button {
    @include Size(24px, 24px);
    @include Flex(row, center, center);
    background: none;
    border: none;
    border-radius: 5px;
    padding: 0px;

    &:hover {
      background-color: $color-grayscale-200;
    }
  }

  .link-button {
    @include Flex(row, center, center);
    background-color: $color-grayscale-100;
    border-radius: 50%;
    padding: 2px;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .toolbar {
    @include Flex(row, center, center);
  }

  .user-name {
    display: none;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .button-wrapper {
    .bullet-button {
      display: none;
    }

    .number-button {
      display: none;
    }

    .color-palette-button {
      display: none;
    }

    .link-button {
      display: none;
    }
  }
}
