@import '@/styles/index.scss';

.snackbar {
  @include Flex(null, null, center);
  padding: 15px 20px;
  border-radius: 10px;

  .icon {
    margin-right: 15px;
  }

  &.info {
    background-color: $color-grayscale-50;
    border: 1px solid $color-grayscale-200;
    box-shadow: 0px 4px 20px 0px $color-shadow;

    &.small {
      @include Font(
        $font-size-xs,
        $line-height-xs-18,
        $font-weight-xs-regular,
        $color-grayscale-500
      );

      .icon {
        width: 15px;
        height: 15px;
      }
    }

    &.large {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-semibold,
        $color-grayscale-500
      );

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.success {
    background-color: $color-primary-green-100;
    border: 1px solid $color-primary-green-200;
    box-shadow: 0px 4px 20px 0px $color-shadow;

    &.small {
      @include Font(
        $font-size-xs,
        $line-height-xs-20,
        $font-weight-xs-semibold,
        $color-primary-green-300
      );

      .icon {
        width: 15px;
        height: 15px;
      }
    }

    &.large {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-semibold,
        $color-primary-green-300
      );

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.error {
    background-color: $color-secondary-red-100;
    border: 1px solid $color-secondary-red-200;
    box-shadow: 0px 4px 20px 0px $color-shadow;

    &.small {
      @include Font(
        $font-size-xs,
        $line-height-xs-20,
        $font-weight-xs-semibold,
        $color-secondary-red-200
      );

      .icon {
        width: 15px;
        height: 15px;
      }
    }

    &.large {
      @include Font(
        $font-size-md,
        $line-height-md,
        $font-weight-md-semibold,
        $color-secondary-red-200
      );

      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
