@import '@/styles/index.scss';
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON%20Lv1%20Gothic%20OTF.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NEXON Lv1 Gothic OTF';
  src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Nexon/NEXON Lv1 Gothic OTF.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

.landing-container {
  @include Size(100%, auto);
  overflow: hidden;
  white-space: nowrap;
  position: relative;

  &::-webkit-scrollbar {
    width: 0px;
  }

  .ellipse-img {
    // width: 2000px;
    @include Size(100%, 400px);
    top: 713px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }

  .header {
    background-color: #f1f4fd;
  }

  .wikid-banner {
    @include Flex(column, '', center);
    @include Size(100%, 914px);
    padding: 0 80px;
  }

  .banner-title {
    @include Size(100%, 188px);
    @include Flex(column, center, center);
    margin-top: 120px;

    .paragraph {
      font-family: 'NEXON Lv1 Gothic OTF';
      font-size: 60px;
      line-height: 69px;
      color: $color-grayscale-500;
    }

    .heading {
      font-family: 'NEXON Lv1 Gothic OTF';
      font-size: 90px;
      font-weight: 700;
      line-height: 103.5px;
      margin-top: 15px;
      color: $color-grayscale-500;
    }
  }

  .main-page-top-button {
    padding: 15px 30px;
    border-radius: 15px;
    margin-top: 40px;
  }

  .landing-img1-wrapper {
    @include Size(498px, 644px);
    position: relative;
    flex-shrink: 0;
  }

  .landing-img1 {
    @include Size(498px, 590px);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 54px;
    z-index: 1;
  }

  .write-container {
    @include Size(100%, 1211px);
    padding: 0 80px 200px 80px;
    @include Flex(column, end, center);
    background-color: $color-grayscale-500;

    .write-wrapper {
      @include Flex(row, center, '');
      margin-top: 65px;

      .feature-text {
        @include Size(364px, 681px);
        @include Flex(column, space-between, '');
        margin-right: 40px;

        .feature-title {
          font-family: 'NEXON Lv1 Gothic OTF';
          font-size: 30px;
          font-weight: 700;
          line-height: 34.5px;
          color: $color-primary-green-200;
        }

        .feature-content {
          margin-top: 20px;
          margin-bottom: 60px;
          p {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 50px;
            font-weight: 400;
            line-height: 57.5px;
            color: $color-grayscale-50;
          }
        }

        .write-img1 {
          @include Size(364px, 450px);
          background-color: $color-primary-green-200;
          border-radius: 20px;
        }
      }
    }
  }

  .share-container {
    @include Flex(column, center, center);
    padding: 200px 0;
    overflow: hidden;

    .share-wrapper {
      @include Flex(column, center, center);

      .feature-text {
        @include Size(924px, '');
        text-align: right;

        .feature-title {
          font-family: 'NEXON Lv1 Gothic OTF';
          font-size: 30px;
          font-weight: 700;
          line-height: 34.5px;
          color: $color-primary-green-200;
        }

        .feature-content {
          margin-top: 20px;
          p {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 50px;
            font-weight: 400;
            line-height: 57.5px;
            color: $color-grayscale-500;
          }
        }
      }

      .img-container {
        @include Flex(row, center, center);
        @include Size(100%, 360px);
        gap: 70px;
        margin-top: 120px;

        .img-box {
          @include Size(360px, 360px);
          background-color: #dee5f5;
          border-radius: 25px;
        }
        .share-img1 {
          background-color: $color-secondary-purple-100;
          border-radius: 25px;
        }
        .share-img2 {
          background-color: #adedde;
          border-radius: 25px;
        }
        .share-img3 {
          background-color: #dee5f5;
          border-radius: 25px;
        }
        .share-img4 {
          background-color: #dee5f5;
          border-radius: 25px;
        }
      }
    }
  }

  .view-container {
    padding: 200px 80px;
    @include Flex(column, center, center);
    background-color: #ecf0fa;

    .view-wrapper {
      @include Size(924px, 891px);

      .feature-text {
        text-align: left;

        .feature-title {
          font-family: 'NEXON Lv1 Gothic OTF';
          font-size: 30px;
          font-weight: 700;
          line-height: 34.5px;
          color: $color-primary-green-200;
        }

        .feature-content {
          margin-top: 20px;
          p {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 50px;
            font-weight: 400;
            line-height: 57.5px;
            color: $color-grayscale-500;
          }
        }
      }

      .img-container {
        @include Flex(column, center, center);
        margin-top: 120px;
        gap: 40px;

        .img-wrapper {
          @include Flex(row, space-between, '');
          @include Size(924px, 280px);

          .view-img2 {
            background-color: $color-secondary-purple-100;
            border-radius: 25px;
            @include Size(280px, 280px);
          }
          .view-img3 {
            @include Size(px, 280px);
          }
        }
      }
    }
  }

  .start-container {
    padding: 200px 0;
    @include Flex(column, center, center);
    background-color: $color-grayscale-500;

    .start-wrapper {
      @include Flex(column, center, center);
      gap: 40px;
    }

    .start-title {
      font-family: 'NEXON Lv1 Gothic OTF';
      font-size: 60px;
      font-weight: 700;
      line-height: 69px;
      color: $color-grayscale-50;
    }

    .main-page-bottom-button {
      padding: 15px 30px;
      border-radius: 15px;
    }
  }

  .footer-container {
    // @include Size(100%, 270px);
    background-color: $color-grayscale-600;
    padding: 80px;
    color: $color-grayscale-50;
    // white-space: nowrap;

    .footer-wrapper {
      white-space: break-spaces;

      .copyright {
        @include Font($font-size-lg, $line-height-lg, $font-weight-lg-bold, '');
      }

      .impormaion {
        @include Font(
          $font-size-md,
          $line-height-md,
          $font-weight-md-regular,
          ''
        );
        margin-top: 10px;
        text-decoration: none;

        .toggle-button {
          display: none;
        }
      }

      .footer-menu {
        @include Flex(row, '', center);
        margin-top: 30px;
        gap: 30px;

        .footer-link {
          @include Font(
            $font-size-md,
            $line-height-md,
            $font-weight-md-medium,
            $color-grayscale-50
          );
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: $tablet-max-width) {
    .wikid-banner {
      @include Size(100%, 900px);
      padding: 0 48px;
    }
    .ellipse-img {
      top: 784px;
      @include Size(100%, 233px);
    }

    .write-container {
      @include Size(100%, 942px);
      padding: 0 48px 160px 48px;

      .write-wrapper {
        margin-top: 71.5px;

        .feature-text {
          @include Size(262px, 479px);

          .feature-title {
            font-family: 'NEXON Lv1 Gothic OTF';
            font-size: 20px;
            line-height: 23px;
          }

          .feature-content {
            margin-bottom: 40px;
            p {
              font-size: 32px;
              line-height: 36.8px;
            }
          }
          .write-img1 {
            @include Size(262px, 322px);
          }
        }
        .write-img2 {
          @include Size(365px, 479px);
        }
      }
    }

    .share-container {
      padding: 160px 0;

      .share-wrapper {
        @include Flex(column, center, center);

        .feature-text {
          @include Size(648px, '');

          .feature-title {
            font-size: 20px;
            line-height: 23px;
          }

          .feature-content {
            margin-top: 20px;
            p {
              font-size: 32px;
              font-weight: 400;
              line-height: 36.8px;
            }
          }
        }

        .img-container {
          @include Flex(row, center, center);
          @include Size(100%, 147px);
          gap: 20px;
          margin-top: 80px;

          .img-box {
            @include Size(147px, 147px);
          }
          .share-img1 {
            @include Size(147px, 147px);
          }
          .share-img2 {
            @include Size(147px, 147px);
          }
          .share-img3 {
            @include Size(147px, 147px);
          }
          .share-img4 {
            @include Size(147px, 147px);
          }
        }
      }
    }

    .view-container {
      padding: 160px 48px;

      .view-wrapper {
        @include Size(648px, 613px);

        .feature-text {
          .feature-title {
            font-size: 20px;
            line-height: 23px;
          }

          .feature-content {
            p {
              font-size: 32px;
              line-height: 36.8px;
            }
          }
        }

        .img-container {
          @include Size(648px, 416px);
          margin-top: 80px;
          gap: 22px;

          .img-wrapper {
            @include Size(648px, 198px);

            .view-img2 {
              @include Size(198px, 198px);
            }

            .view-img3 {
              @include Size(428px, 198px);
            }
          }
        }
      }
    }

    .start-container {
      padding: 160px 0px;
    }

    .footer-container {
      padding: 60px 48px;
    }
  }
}

@media (max-width: $mobile-max-width) {
  .landing-container {
    // min-width: 375px;

    .ellipse-img {
      @include Size(100%, 180px);
      top: 502px;
    }

    .wikid-banner {
      @include Size(100%, 592px);
      padding: 0 20px;
    }

    .banner-title {
      @include Size(100%, 188px);
      margin-top: 100px;

      .paragraph {
        font-size: 40px;
        line-height: 46px;
      }

      .heading {
        font-size: 60px;
        line-height: 69px;
      }
    }

    .main-page-top-button {
      @include Font(
        $font-size-xl,
        $line-height-md,
        $font-weight-2xl-bold,
        $color-grayscale-50
      );
    }

    .landing-img1-wrapper {
      @include Size(336px, 442px);
    }

    .landing-img1 {
      @include Size(336px, 398px);
      margin-top: 44px;
    }

    .write-container {
      @include Size(100%, 624px);
      padding: 0 20px 100px 20px;

      .write-wrapper {
        margin-top: 130.5px;

        .feature-text {
          @include Size(133px, 250px);
          margin-right: 10px;

          .feature-title {
            font-size: 10px;
            line-height: 11.5px;
          }

          .feature-content {
            margin-top: 10px;
            margin-bottom: 30px;
            p {
              font-size: 16px;
              line-height: 18.4px;
            }
          }
          .write-img1 {
            @include Size(133px, 162px);
          }
        }
        .write-img2 {
          @include Size(192px, 250px);
        }
      }
    }

    .share-container {
      padding: 100px 0;

      .share-wrapper {
        .feature-text {
          @include Size(335px, '');

          .feature-title {
            font-size: 10px;
            line-height: 11.5px;
          }

          .feature-content {
            margin-top: 10px;
            p {
              font-size: 16px;
              line-height: 18.4px;
            }
          }
        }

        .img-container {
          @include Size(375px, 76px);
          gap: 10px;
          margin-top: 40px;

          .img-box {
            @include Size(76px, 76px);
          }
          .share-img1 {
            @include Size(76px, 76px);
          }
          .share-img2 {
            @include Size(76px, 76px);
          }
          .share-img3 {
            @include Size(76px, 76px);
          }
          .share-img4 {
            @include Size(76px, 76px);
          }
        }
      }
    }

    .view-container {
      padding: 100px 20px;

      .view-wrapper {
        @include Size(335px, 312px);

        .feature-text {
          .feature-title {
            font-size: 10px;
            line-height: 11.5px;
          }

          .feature-content {
            margin-top: 10px;
            p {
              font-size: 16px;
              line-height: 18.4px;
            }
          }
        }

        .img-container {
          @include Size(335px, 214px);
          margin-top: 40px;
          gap: 10px;

          .img-wrapper {
            @include Size(335px, 102px);

            .view-img2 {
              @include Size(102px, 102px);
              border-radius: 10px;
            }

            .view-img3 {
              @include Size(223px, 102px);
            }
          }
        }
      }
    }

    .start-container {
      padding: 100px 0px;

      .start-wrapper {
        gap: 40px;
      }

      .start-title {
        font-size: 30px;
        line-height: 34.5px;
      }

      .main-page-bottom-button {
        @include Font(
          $font-size-xl,
          $line-height-md,
          $font-weight-2xl-bold,
          $color-grayscale-500
        );
      }
    }

    .footer-container {
      padding: 40px 20px;
      .footer-wrapper {
        // @include Size(335px, 72px);

        .copyright {
          @include Font(
            $font-size-2xs,
            $line-height-2xs-10,
            $font-weight-2xs-bold,
            ''
          );
        }

        .impormaion {
          @include Font(
            $font-size-3xs,
            $line-height-3xs-8,
            $font-weight-3xs-regular,
            $color-grayscale-50
          );
          margin-top: 10px;

          .toggle-button {
            display: inline-flex;
            margin-bottom: 10px;
            gap: 5px;
            cursor: pointer;

            .toggle-icon {
              fill: #fff;
            }
          }
        }

        .footer-menu {
          margin-top: 20px;
          gap: 15px;

          .footer-link {
            @include Font(
              $font-size-3xs,
              $line-height-3xs-8,
              $font-weight-3xs-medium,
              $color-grayscale-50
            );
          }
        }
      }
    }
  }
}
