// Grayscale
$color-grayscale-50: #fff;
$color-grayscale-100: #f7f7fa;
$color-grayscale-200: #e4e5f0;
$color-grayscale-300: #c6cada;
$color-grayscale-400: #8f95b2;
$color-grayscale-500: #474d66;
$color-grayscale-600: #3b415b;
$color-grayscale-700: #000000;

// Primary-green
$color-primary-green-100: #eef9f6;
$color-primary-green-200: #4cbfa4;
$color-primary-green-300: #32a6ba;

// Secondary-Red
$color-secondary-red-100: #fbeded;
$color-secondary-red-200: #d14343;

// Secondary-Purple
$color-secondary-purple-100: #8e66ff;

// Secondary-Yellow
$color-secondary-yellow-100: #fdd181;
