// Text-5xl
$font-size-5xl: 48px;
$line-height-5xl: 46px;
$font-weight-5xl-semibold: 600;

// Text-4xl
$font-size-4xl: 40px;
$line-height-4xl: 42px;
$font-weight-4xl-bold: 700;

// Text-3xl
$font-size-3xl: 32px;
$line-height-3xl-46: 46px;
$line-height-3xl-42: 42px;
$font-weight-3xl-bold: 700;
$font-weight-3xl-semibold: 600;

// Text-2xl
$font-size-2xl: 24px;
$line-height-2xl: 32px;
$font-weight-2xl-bold: 700;
$font-weight-2xl-semibold: 600;
$font-weight-2xl-medium: 500;
$font-weight-2xl-regular: 400;

// Text-xl
$font-size-xl: 20px;
$line-height-xl: 32px;
$font-weight-xl-bold: 700;
$font-weight-xl-semibold: 600;
$font-weight-xl-medium: 500;
$font-weight-xl-regular: 400;

// Text-2lg
$font-size-2lg: 18px;
$line-height-2lg: 26px;
$font-weight-2lg-bold: 700;
$font-weight-2lg-semibold: 600;
$font-weight-2lg-medium: 500;
$font-weight-2lg-regular: 400;

// Text-lg
$font-size-lg: 16px;
$line-height-lg: 26px;
$font-weight-lg-bold: 700;
$font-weight-lg-semibold: 600;
$font-weight-lg-medium: 500;
$font-weight-lg-regular: 400;

// Text-md
$font-size-md: 14px;
$line-height-md: 24px;
$font-weight-md-bold: 700;
$font-weight-md-semibold: 600;
$font-weight-md-medium: 500;
$font-weight-md-regular: 400;

// Text-sm
$font-size-sm: 13px;
$line-height-sm: 22px;
$font-weight-sm-semibold: 600;
$font-weight-sm-medium: 500;

// Text-xs
$font-size-xs: 12px;
$line-height-xs-20: 20px;
$line-height-xs-18: 18px;
$line-height-xs-16: 16px;
$font-weight-xs-semibold: 600;
$font-weight-xs-medium: 500;
$font-weight-xs-regular: 400;

// Text-timestamp
$font-size-timestamp: 10px;
$line-height-timestamp: 14px;
$font-weight-timestamp: 400;
