@import "@/styles/index.scss";

.userListContainer {
  @include Flex(column, center, "");
  row-gap: 20px;
  width: 100%;
  margin-top: 50px;

  .userList {
    @include Flex(column, "", "");
    row-gap: 16px;
    width: 100%;
  }
}