@import '@/styles/index.scss';

.user-list-container {
  @include Flex(column, center, center);
  @include Size(100%, '');
  row-gap: 20px;
  margin-top: 60px;

  .user-list {
    @include Flex(column, flex-start, flex-start);
    row-gap: 16px;
    width: 100%;
  }
}

@media screen and (max-width: $tablet-max-width) {
  .user-list-container {
    margin-top: 40px;
  }
}

@media screen and (max-width: $mobile-max-width) {
  .user-list-container {
    margin-top: 20px;
  }
}
