@import "@/styles/index.scss";

.userCard {
  @include Flex(row, flex-start, flex-start);
  padding: 24px 36px;
  border: 1px solid $color-grayscale-100;
  border-radius: 8px;
  background-color: $color-grayscale-50;
  margin-bottom: 12px;
  position: relative;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.profileImage {
  @include Size(85px, 85px);
  border-radius: 50%;
}

.userInfo {
  margin-left: 24px;
  @include Flex(column, flex-start, flex-start);
}

.userName {
  @include Font(24px, "", $font-weight-lg-bold, $color-grayscale-600);
  border: none;
}

.userDetails {
  @include Font($font-size-md, "", $font-weight-md-regular, $color-grayscale-400);
  margin-top: 12px;
}

.userLinkContainer {
  position: absolute;
  right: 16px;
  bottom: 16px;
}
