@import "@/styles/index.scss";

.container {
  @include Size(100%, 100vh);
  @include Flex(column, inherit, center);
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  padding-top: 78px;

  .wiki-main {
    @include Size(100%, "");
    max-width: 1920px;
    display: grid;
    grid-template-columns: minmax(60px, 1fr) minmax(0, 860px) 80px 320px 200px;
    position: relative;

    .wiki-padding {
      @include Size(100%, "");
      max-width: 460px;
      grid-column: 1;
      grid-row: 1;
      overflow: hidden;
    }

    .wiki-header {
      @include Size(100%, "");
      grid-column: 2;
      grid-row: 1;
      margin-bottom: 20px;
      box-sizing: border-box;
    }

    .wiki-article {
      @include Size(100%, "");
      grid-column: 2;
      grid-row: 2;
      box-sizing: border-box;
    }

    .wiki-aside {
      @include Size(320px, "");
      grid-column: 4;
      grid-row: 1 / span 2;
      position: relative;
    }
  }
}

@media screen and (max-width: 1199px) {
  .container {
    padding: 0 60px;
    padding-top: 60px;

    .wiki-main {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
      grid-template-areas:
        "header"
        "spacer1"
        "aside"
        "spacer2"
        "article";

      .wiki-padding {
        display: none;
      }

      .wiki-header {
        grid-area: header;
        margin: 0 auto;
      }

      .spacer1 {
        @include Size("", 15px);
        grid-area: spacer1;
      }

      .wiki-aside {
        @include Size(100%, auto);
        grid-area: aside;
        padding: 20px 30px 5px 30px;
        margin: 0;
      }

      .spacer2 {
        @include Size("", 60px);
        grid-area: spacer2;
      }

      .wiki-article {
        grid-area: article;
        margin: 0 auto;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .container {
    padding: 0 20px;
    margin-top: 40px;

    .wiki-main {
      .spacer1 {
        @include Size("", 12px);
      }

      .spacer2 {
        @include Size("", 40px);
      }

      .wiki-aside {
        @include Size(100%, "");
        margin: 0;
        padding: 15px 20px 0 20px;
      }
    }
  }
}
