@import '@/styles/import.scss';

.container {
  @include Size(1920px, 100vh);
  @include Flex(column, center, center);
  margin: 0 auto;
  background-color: rgb(158, 165, 165);
  position: relative;

  .nav {
    @include Size(100%, 60px);
    @include Flex(column, center, center);
    background-color: lightgoldenrodyellow;
    position: absolute;
    top: 0;
  }

  .wiki-header {
    position: absolute;
    top: 160px;
    left: 460px;
  }

  .wiki-article {
    position: absolute;
    top: 328px;
    left: 460px;
  }
}
