@import '@/styles/index.scss';

.container {
  @include Flex(column, null, null);
  row-gap: 16px;

  .header {
    @include Flex(row, space-between, center);

    .title {
      @include Font(
        $font-size-xl,
        $line-height-2lg,
        $font-weight-xl-bold,
        $color-grayscale-650
      );

      &.small {
        @include Font(
          $font-size-2lg,
          $line-height-lg,
          $font-weight-xl-bold,
          $color-grayscale-650
        );
      }
    }

    .close-button {
      @include Size(24px, 24px);
      padding: 0;
      background-color: $color-grayscale-250;

      .close-icon {
        @include Size(24px, 24px);

        &.small {
          @include Size(20px, 20px);
        }
      }

      &.small {
        @include Size(20px, 20px);
      }
    }
  }

  .notification-card-wrapper {
    @include Flex(column, null, null);
    row-gap: 8px;
    max-height: 340px;
    overflow-y: auto;

    &:not(:empty):before {
      display: block;
      height: calc(100% + 1px);
      min-height: 1px;
    }

    &:before {
      display: none;
    }
  }
}
